.text1{
    background-image: url("image22.jpg");
    width: 100%;
    height: 600px;
Background-position:center;
}
.container-img{
    align-items: center;
    margin-top: 200px;
}
.rounded-circle{

 align-content: center;
}
.text-text{
    margin-left:100px;
    padding-top: 30px;
}
.form-group{
    margin-left: 100px;
    margin-right: 0px;
}
.text-light{
    padding-top: 30px;
    padding-bottom: 30px;
}
.text-center{
 padding-top: 30px;
 padding-bottom: 30px;
}
.content{
    background-image: url("image22.jpg");
    width: 100%;
   
}
